<!DOCTYPE html>
<html lang="es">
<head>
    <title>Bienvenido</title>
    <style>
        .body {
            background-image: url("assets/img/fondo.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        /* Agrega tus estilos aquí */
        .snowflake {
            position: fixed;
            background: white;
            z-index: 9999;
            border-radius: 50%;
            opacity: 1;
        }

        .hearts {
            position: fixed;
            z-index: 9999;
            opacity: 0.5;
        }

        h1, h3 {
            text-align: center;
        }

            h3.third-heading {
                text-align: right;
            }

        .user-message {
            text-align: left;
            font-size: 18px;
            color: white;
        }

        .container {
            position: absolute;
            top: 0;
            left: 0;
            padding-right: 30px;
            padding-top: 100px;
        }
    </style>
</head>
<body class="body">

    <div class="container" style="text-align:left;">
       @* <img src="../../assets/img/icons/logoSA.png" alt="" style="max-width:300px" />*@
       @*  <h1 style="color:white">Universidad Autonoma de Asuncion</h1><br /> *@
       <br></br>
        <br></br>
        <br></br>
        <br></br>
       
            

    </div>

    <script>
       

        // Obtener la fecha actual
        var fechaActual = new Date();
        var mesActual = fechaActual.getMonth() + 1; // Los meses en JavaScript van de 0 a 11

       
    </script>

</body>
</html>
