@model SistemaBase.Models.Persona

@{
    Layout = "";
}

<div class="modal-header">
    <h5 class="modal-title">Editar persona</h5>
    <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
</div>
<div class="modal-body">
    <form asp-action="Edit" asp-route-id="@Model.IdPersona" method="post">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdPersona" />
        <input type="hidden" asp-for="FecAlta" />
        <input type="hidden" asp-for="FecActualizacion" />
        <div class="row">
            <div class="col-md-4 mb-3">
                <label asp-for="IdPersona" class="form-label fw-semibold">Documento/CI</label>
                <input asp-for="IdPersona" class="form-control" disabled />
            </div>
            <div class="col-md-8 mb-3">
                <label asp-for="Nombre" class="form-label fw-semibold">Nombre</label>
                <input asp-for="Nombre" class="form-control" maxlength="200" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label asp-for="Sexo" class="form-label fw-semibold">Sexo</label>
                <select asp-for="Sexo" class="form-select">
                    <option value="">Seleccione...</option>
                    <option value="F">Femenino</option>
                    <option value="M">Masculino</option>
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label asp-for="FecNacimiento" class="form-label fw-semibold">Fecha nacimiento</label>
                <input asp-for="FecNacimiento" class="form-control" type="date" />
            </div>
            <div class="col-md-4 mb-3">
                <label asp-for="EstadoCivil" class="form-label fw-semibold">Estado civil</label>
                <input asp-for="EstadoCivil" class="form-control" maxlength="5" />
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="Email" class="form-label fw-semibold">Email</label>
                <input asp-for="Email" class="form-control" maxlength="255" type="email" />
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="SitioWeb" class="form-label fw-semibold">Telefono/Sitio web</label>
                <input asp-for="SitioWeb" class="form-control" maxlength="255" />
            </div>
            <div class="col-12 mb-3">
                <label asp-for="DireccionParticular" class="form-label fw-semibold">Direccion</label>
                <input asp-for="DireccionParticular" class="form-control" maxlength="255" />
            </div>
        </div>
        <button class="btnAbm" type="submit"><i class="fa fa-save"></i> Guardar</button>
        <button class="btnAbmCancelar" type="button" data-bs-dismiss="modal">Cancelar</button>
    </form>
</div>
