
@{
    ViewData["Title"] = "TituloImpresion";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Comprobante de Entrada</title>
    <style>


        body {
            font-family: 'Cambria Math', Arial, sans-serif;
            margin: 0;
            box-sizing: border-box;
        }

        .ticket {
            width: 800px;
            background-color: #ffffff;
            border: 1px solid #000000;
            padding: 10px;
            margin: 0 auto;
        }

            .ticket h1 {
                margin: 0;
                font-size: 25px;
            }

        table {
            width: 100%;
            margin-top: 10px;
        }

        th, td {
            padding: 5px 0;
        }

        th {
            text-align: left;
            color: #000000;
        }

        td {
            text-align: left;
        }

        .no-collapse {
            border-collapse: separate;
            border-spacing: 0;
        }

        .horizontal-line {
            border: none;
            height: 1px;
            border-top: 1px dashed #000;
            margin-top: 50px; /* Margen superior de 10 píxeles */
            margin-bottom: 50px; /* Margen inferior de 10 píxeles */
            margin-left: 0; /* Sin margen izquierdo */
            margin-right: 0; /* Sin margen derecho */
        }
    </style>
</head>
<body>
    <div class="ticket">

    </div>

</body>
</html>
