@model SistemaBase.Models.GruposUsuario

@{
    Layout = "";
}

<div class="modal-header">
    <h5 class="modal-title">Eliminar grupo</h5>
    <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
</div>
<div class="modal-body">
    <p class="mt-3">Desea eliminar el grupo <strong>@Model.Descripcion</strong>?</p>
    <form asp-action="Delete" asp-route-id="@Model.IdGrupo" method="post">
        @Html.AntiForgeryToken()
        <button class="btnEliminar" type="submit"><i class="fa fa-trash"></i> Eliminar</button>
        <button class="btnAbmCancelar" type="button" data-bs-dismiss="modal">Cancelar</button>
    </form>
</div>
